In [1]:
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import os
import pandas as pd

## Load experimental gene expression data
First, establish a connection

In [2]:
load_dotenv()
db_host = os.getenv('DB_HOST')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASS')
db_port = 10184
database = "defaultdb"
host_url = rf"mysql://{db_user}:{db_password}@{db_host}:{db_port}/{database}"

engine = create_engine(host_url)

Now, gather data from all files

In [9]:
with open('DD_genes.txt', 'r') as f:
    genes_DD = f.read().splitlines()

with open('LD_genes.txt', 'r') as f:
    genes_LD = f.read().splitlines()
    
print(len(genes_DD))
print(len(genes_LD))
long_gene = max(set(genes_DD).union(set(genes_LD)), key=lambda x: len(x))
print(f"{long_gene}, lenght={len(long_gene)}")

15650
15743
alphagamma-element:CR32865, lenght=26

In [15]:


print(len(genes_LD))
print(len(genes_DD))
DATA_PATH = r'../dataset/'
mapper = lambda x: x[1:]  # removes leading 'x' char in idx strings
list_DD = []
list_LD = []
file_names = os.listdir(DATA_PATH)

for filename in file_names:
    print(f"filename: {filename}")
    table_name = filename.split('.')[0]
    new_df = pd.read_csv(f"{DATA_PATH}/{filename}",
                         # na_values=["", "NaN", "NULL"], 
                         keep_default_na=False)
    new_df = new_df.rename(mapper, axis='columns')
    new_df = new_df.rename({'nnamed: 0': 'gene'}, axis='columns')
    ddl = pd.io.sql.get_schema(new_df, 'data')
    # make table
    create_table_query = f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
        gene VARCHAR(30) PRIMARY KEY, 
    {'\n'.join(ddl.split('\n')[2:])};
    """
    print(create_table_query)
    break
    # with engine.connect() as connection:
    #     connection.execute(text(create_table_query))
    # 
    # new_df.to_sql(name=table_name,
    #               con=engine,
    #               index=False,
    #               if_exists='append')
    # break

# df_LD = pd.concat(list_LD)
# df_DD = pd.concat(list_DD)

15743
15650
filename: GSM4768020_CT02_20190528_AR05.csv

    CREATE TABLE IF NOT EXISTS GSM4768020_CT02_20190528_AR05 (
        gene VARCHAR(30) PRIMARY KEY,
      "20190528_CLK856_DD_CT02_AR05_ACAGAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACAGGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACAGTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACCAAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACCAGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACCATG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACGTAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACGTGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACGTTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACTCAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACTCGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_ACTCTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGACAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGACCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGACTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGCTAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGCTCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGCTTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGGAAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGGACA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGGATC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGTGAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGTGCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_AGTGTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAACAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAACCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAACTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CACTAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CACTCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CACTTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAGAAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAGACA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CAGATC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CATGAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CATGCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CATGTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTAGAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTAGGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTAGTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTCAAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTCAGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTCATG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTGTAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTGTGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTGTTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTTCAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTTCGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_CTTCTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAAGAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAAGGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAAGTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GACAAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GACAGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GACATG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAGTAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAGTGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GAGTTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GATCAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GATCGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GATCTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTACAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTACCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTACTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTCTAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTCTCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTCTTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTGAAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTGACA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTGATC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTTGAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTTGCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_GTTGTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCACAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCACCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCACTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCCTAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCCTCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCCTTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCGAAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCGACA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCGATC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCTGAG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCTGCA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TCTGTC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGAGAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGAGGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGAGTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGCAAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGCAGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGCATG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGGTAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGGTGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGGTTG" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGTCAC" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGTCGA" INTEGER,
  "20190528_CLK856_DD_CT02_AR05_TGTCTG" INTEGER
);

In [5]:
pd.read_sql('SHOW TABLES', con=engine)

  Tables_in_defaultdb
0         annotations